pandas==1.3.4
requests==2.28.1
numpy==1.23.5
pytz==2022.7
gspread == 5.9.0
IPython
gspread-dataframe
pydrive

# pip install --upgrade google-auth
# pip install --upgrade google-api-python-client
# pip install --upgrade google-auth-httplib2
# pip install --upgrade google-auth-oauthlib
# pip install gspread-dataframe
# pip install pydrive